@{
  Layout="Shared/_Layout.cshtml";
}
<div class="row">
  <div class="col-md-12">
    <h4><a href="/courses">View all courses</a></h4>
    <h5><a href="/course/new">Add a course</a></h5>
    <hr>
    <h4><a href="/students">View all students</a></h4>
    <h5><a href="/student/new">Add a student</a></h5>
  </div>
</div>
